<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SlLawCategoryMapper">
    
    <resultMap type="SlLawCategory" id="SlLawCategoryResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="name"    column="name"    />
        <result property="folder"    column="folder"    />
        <result property="isSubFolder"    column="is_sub_folder"    />
        <result property="categoryGroup"    column="category_group"    />
        <result property="categoryOrder"    column="category_order"    />
    </resultMap>

    <sql id="selectSlLawCategoryVo">
        select id, create_time, create_by, update_time, update_by, name, folder, is_sub_folder, category_group, category_order from sl_law_category
    </sql>

    <sql id="select_optional_field">
        select
        <foreach item="column" collection="columns"  separator=",">
            ${column}
        </foreach>
        from sl_law_category
    </sql>


    <select id="listLawLevel" resultType="string">
        select distinct name from sl_law_category where name != '关联文件'
    </select>


    <select id="listLawCategory" resultMap="SlLawCategoryResult">
        <include refid="select_optional_field"/>
        <where>
            <if test="p.name != null  and p.name != ''"> and name like concat('%', #{p.name}, '%')</if>
            <if test="p.folder != null  and p.folder != ''"> and folder = #{p.folder}</if>
            <if test="p.isSubFolder != null "> and is_sub_folder = #{p.isSubFolder}</if>
            <if test="p.categoryGroup != null  and p.categoryGroup != ''"> and category_group = #{p.categoryGroup}</if>
            <if test="p.categoryOrder != null "> and category_order = #{p.categoryOrder}</if>
        </where>
    </select>


    <select id="selectSlLawCategoryList" parameterType="SlLawCategory" resultMap="SlLawCategoryResult">
        <include refid="selectSlLawCategoryVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="folder != null  and folder != ''"> and folder = #{folder}</if>
            <if test="isSubFolder != null "> and is_sub_folder = #{isSubFolder}</if>
            <if test="categoryGroup != null  and categoryGroup != ''"> and category_group = #{categoryGroup}</if>
            <if test="categoryOrder != null "> and category_order = #{categoryOrder}</if>
        </where>
    </select>
    
    <select id="selectSlLawCategoryById" parameterType="String" resultMap="SlLawCategoryResult">
        <include refid="selectSlLawCategoryVo"/>
        where id = #{id}
    </select>


    <select id="getById" parameterType="Long" resultMap="SlLawCategoryResult">
        <include refid="select_optional_field"/>
        where id = #{id}
    </select>

        
    <insert id="insertSlLawCategory" parameterType="SlLawCategory" useGeneratedKeys="true" keyProperty="id">
        insert into sl_law_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="folder != null and folder != ''">folder,</if>
            <if test="isSubFolder != null">is_sub_folder,</if>
            <if test="categoryGroup != null">category_group,</if>
            <if test="categoryOrder != null">category_order,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="folder != null and folder != ''">#{folder},</if>
            <if test="isSubFolder != null">#{isSubFolder},</if>
            <if test="categoryGroup != null">#{categoryGroup},</if>
            <if test="categoryOrder != null">#{categoryOrder},</if>
         </trim>
    </insert>

    <update id="updateSlLawCategory" parameterType="SlLawCategory">
        update sl_law_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="folder != null and folder != ''">folder = #{folder},</if>
            <if test="isSubFolder != null">is_sub_folder = #{isSubFolder},</if>
            <if test="categoryGroup != null">category_group = #{categoryGroup},</if>
            <if test="categoryOrder != null">category_order = #{categoryOrder},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSlLawCategoryById" parameterType="String">
        delete from sl_law_category where id = #{id}
    </delete>

    <delete id="deleteSlLawCategoryByIds" parameterType="String">
        delete from sl_law_category where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>