<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SlLawMapper">
    
    <resultMap type="SlLaw" id="SlLawResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="categoryId"    column="category_id"    />
        <result property="name"    column="name"    />
        <result property="lawLevel"    column="law_level"    />
        <result property="authority"    column="authority"    />
        <result property="authorityProvince"    column="authority_province"    />
        <result property="authorityCity"    column="authority_city"    />
        <result property="authorityDistrict"    column="authority_district"    />
        <result property="publish"    column="publish"    />
        <result property="status"    column="status"    />
        <result property="lawOrder"    column="law_order"    />
        <result property="subtitle"    column="subtitle"    />
        <result property="documentNo"    column="document_no"    />
        <result property="documentType"    column="document_type"    />
        <result property="validFrom"    column="valid_from"    />
        <result property="ver"    column="ver"    />
        <result property="tags"    column="tags"    />
        <result property="preface"    column="preface"    />
        <result property="fullContent"    column="full_content"    />
    </resultMap>

    <select id="count" resultType="int">
        select count(*) from sl_law
    </select>


    <select id="getByIds" resultMap="SlLawResult">
        <include refid="select_optional_field"/>
        where id in
        <foreach item="id" collection="idList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="listAuthority" resultMap="SlLawResult">
        select distinct authority, authority_province, authority_city, authority_district from sl_law
        <where>
            <if test="authorityProvince != null  and authorityProvince != ''"> and authority_province = #{authorityProvince}</if>
            <if test="authorityCity != null  and authorityCity != ''"> and authority_city = #{authorityCity}</if>
        </where>
        order by authority_province
    </select>


    <select id="listCity" resultMap="SlLawResult">
        select distinct authority_city from sl_law
        <where>
            <if test="authorityProvince != null  and authorityProvince != ''"> and authority_province = #{authorityProvince}</if>
        </where>
        order by authority_city
    </select>


    <select id="listStatus" resultType="integer">
        select distinct status from sl_law
    </select>

    <sql id="selectSlLawVo">
        select id, create_time, create_by, update_time, update_by, category_id, name, law_level,
               authority, authority_province, authority_city, authority_district, publish, status, law_order, subtitle,
               document_no, document_type, valid_from, ver, tags, preface, full_content from sl_law
    </sql>

    <select id="selectSlLawListForSearch" resultMap="SlLawResult">
        <include refid="selectSlLawVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="categoryId != null"> and category_id = #{categoryId}</if>
            <if test="publish != null and publish.length > 1">
                <![CDATA[
                and (publish >= #{publish.[0]} and publish <= #{publish.[1]})
                ]]>
            </if>

            <if test="validFrom != null and validFrom.length > 1">
                <![CDATA[
                and (valid_from >= #{validFrom.[0]} and valid_from <= #{validFrom.[1]})
                ]]>
            </if>
        </where>
    </select>

    <select id="selectSlLawList" parameterType="SlLaw" resultMap="SlLawResult">
        <include refid="selectSlLawVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="categoryId != null"> and category_id = #{categoryId}</if>
            <if test="lawLevel != null  and lawLevel != ''"> and law_level = #{lawLevel}</if>
            <if test="authority != null  and authority != ''"> and authority = #{authority}</if>
            <if test="authorityProvince != null  and authorityProvince != ''"> and authority_province = #{authorityProvince}</if>
            <if test="authorityCity != null  and authorityCity != ''"> and authority_city = #{authorityCity}</if>
            <if test="authorityDistrict != null  and authorityDistrict != ''"> and authority_district = #{authorityDistrict}</if>
            <if test="publish != null "> and publish = #{publish}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="subtitle != null  and subtitle != ''"> and subtitle = #{subtitle}</if>
            <if test="documentNo != null  and documentNo != ''"> and document_no = #{documentNo}</if>
            <if test="documentType != null  and documentType != ''"> and document_type = #{documentType}</if>
            <if test="validFrom != null "> and valid_from = #{validFrom}</if>
        </where>
    </select>


    <select id="selectLawList" parameterType="SlLaw" resultMap="SlLawResult">
        <include refid="select_optional_field"/>
        <where>
            <if test="slLaw.name != null  and slLaw.name != ''"> and name = #{slLaw.name}</if>
            <if test="slLaw.categoryId != null"> and category_id = #{slLaw.categoryId}</if>
            <if test="slLaw.lawLevel != null  and slLaw.lawLevel != ''"> and law_level = #{slLaw.lawLevel}</if>
            <if test="slLaw.authority != null  and slLaw.authority != ''"> and authority = #{slLaw.authority}</if>
            <if test="slLaw.authorityProvince != null  and slLaw.authorityProvince != ''"> and authority_province = #{slLaw.authorityProvince}</if>
            <if test="slLaw.authorityCity != null  and slLaw.authorityCity != ''"> and authority_city = #{slLaw.authorityCity}</if>
            <if test="slLaw.authorityDistrict != null  and slLaw.authorityDistrict != ''"> and authority_district = #{slLaw.authorityDistrict}</if>
            <if test="slLaw.publish != null "> and publish = #{slLaw.publish}</if>
            <if test="slLaw.status != null "> and status = #{slLaw.status}</if>
            <if test="slLaw.subtitle != null  and slLaw.subtitle != ''"> and subtitle = #{slLaw.subtitle}</if>
            <if test="slLaw.documentNo != null  and slLaw.documentNo != ''"> and document_no = #{slLaw.documentNo}</if>
            <if test="slLaw.documentType != null  and slLaw.documentType != ''"> and document_type = #{slLaw.documentType}</if>
            <if test="slLaw.validFrom != null "> and valid_from = #{slLaw.validFrom}</if>
        </where>
    </select>

    <select id="selectLawListForIncrementalUpdate" parameterType="SlLaw" resultMap="SlLawResult">
        <include refid="select_optional_field"/>
        <where>
            and name = #{slLaw.name}
            and law_level = #{slLaw.lawLevel}
            and authority = #{slLaw.authority}
            and publish = #{slLaw.publish}
        </where>
    </select>

    
    <select id="selectSlLawById" parameterType="Long" resultMap="SlLawResult">
        <include refid="selectSlLawVo"/>
        where id = #{id}
    </select>


    <sql id="select_optional_field">
        select
        <foreach item="column" collection="columns"  separator=",">
            ${column}
        </foreach>
        from sl_law
    </sql>


    <select id="getById" parameterType="Long" resultMap="SlLawResult">
        <include refid="select_optional_field"/>
        where id = #{id}
    </select>
        
    <insert id="insertSlLaw" parameterType="SlLaw" useGeneratedKeys="true" keyProperty="id">
        insert into sl_law
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="lawLevel != null and lawLevel != ''">law_level,</if>
            <if test="authority != null">authority,</if>
            <if test="authorityProvince != null">authority_province,</if>
            <if test="authorityCity != null">authority_city,</if>
            <if test="authorityDistrict != null">authority_district,</if>
            <if test="publish != null">publish,</if>
            <if test="status != null">status,</if>
            <if test="lawOrder != null">law_order,</if>
            <if test="subtitle != null">subtitle,</if>
            <if test="documentNo != null">document_no,</if>
            <if test="documentType != null">document_type,</if>
            <if test="validFrom != null">valid_from,</if>
            <if test="ver != null">ver,</if>
            <if test="tags != null">tags,</if>
            <if test="preface != null">preface,</if>
            <if test="fullContent != null">full_content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="lawLevel != null and lawLevel != ''">#{lawLevel},</if>
            <if test="authority != null">#{authority},</if>
            <if test="authorityProvince != null">#{authorityProvince},</if>
            <if test="authorityCity != null">#{authorityCity},</if>
            <if test="authorityDistrict != null">#{authorityDistrict},</if>
            <if test="publish != null">#{publish},</if>
            <if test="status != null">#{status},</if>
            <if test="lawOrder != null">#{lawOrder},</if>
            <if test="subtitle != null">#{subtitle},</if>
            <if test="documentNo != null">#{documentNo},</if>
            <if test="documentType != null">#{documentType},</if>
            <if test="validFrom != null">#{validFrom},</if>
            <if test="ver != null">#{ver},</if>
            <if test="tags != null">#{tags},</if>
            <if test="preface != null">#{preface},</if>
            <if test="fullContent != null">#{fullContent}</if>
         </trim>
    </insert>

    <update id="updateSlLaw" parameterType="SlLaw">
        update sl_law
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="lawLevel != null and lawLevel != ''">law_level = #{lawLevel},</if>
            <if test="authority != null">authority = #{authority},</if>
            <if test="authorityProvince != null">authority_province = #{authorityProvince},</if>
            <if test="authorityCity != null">authority_city = #{authorityCity},</if>
            <if test="authorityDistrict != null">authority_district = #{authorityDistrict},</if>
            <if test="publish != null">publish = #{publish},</if>
            <if test="status != null">status = #{status},</if>
            <if test="lawOrder != null">law_order = #{lawOrder},</if>
            <if test="subtitle != null">subtitle = #{subtitle},</if>
            <if test="documentNo != null">document_no = #{documentNo},</if>
            <if test="documentType != null">document_type = #{documentType},</if>
            <if test="validFrom != null">valid_from = #{validFrom},</if>
            <if test="ver != null">ver = #{ver},</if>
            <if test="tags != null">tags = #{tags},</if>
            <if test="preface != null">preface = #{preface},</if>
            <if test="fullContent != null">full_content = #{fullContent},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSlLawById" parameterType="Long">
        delete from sl_law where id = #{id}
    </delete>

    <delete id="deleteSlLawByIds" parameterType="String">
        delete from sl_law where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>